.login .container {
    margin-top: 50px;
}

.module-experienceapi {
    margin-bottom: 109px;
}

.xapi-title {
    padding: 16px 20px 12px;
    vertical-align: middle;
}

    .xapi-title span {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        padding-left: 45px;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }

    .xapi-title:before {
        position: absolute;
        content: url(images/graphChart.png);
        display: block;
        width: 32px;
        height: 35px;
        opacity: 0.85;
    }

.xapi-form-holder {
    position: relative;
    padding-top: 20px;
    padding-bottom: 35px;
    width: 70%;
    min-width: 540px;
    margin: 0 auto;
}

.xapi-form-info-message {
    width: 100%;
    padding: 28px 20px;
    margin-bottom: 30px;
    background: #fefefe;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    cursor: default;
}

.xapi-form-info-text {
    display: block;
    line-height: 1.5;
    position: relative;
    color: #555555;
    padding-left: 51px;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

    .xapi-form-info-text:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -16px;
        height: 32px;
        width: 32px;
        background: url(images/info-message.png);
    }

.xapi-form-row {
    height: 100px;
    width: 100%;
}

    .xapi-form-input-holder:before {
        content: '';
        display: block;
        position: absolute;
        top: 19px;
        left: -35px;
        width: 22px;
        height: 22px;
        background: url(images/icons-xApi.png) no-repeat;
    }

.xapi-start-agreement {
    color: #777777;
    font-size: 12px;
    font-family: 'OpenSans';
    line-height: 20px;
    padding-top: 5px;
    text-align: center;
    word-wrap: break-word;
    background-color:#fff;
    border-radius:2px;
    margin-top:45px;
}

.email .xapi-form-input-holder:before {
    background-position: 0 -6px;
}

.name .xapi-form-input-holder:before {
    background-position: 0 -35px;
}

.xapi-form-input-holder {
    position: relative;
    margin-left: 35px;
    padding: 6px 40px 6px 20px;
    height: 65px;
}

.xapi-form-input {
    display: block;
    position: relative;
    height: 24px;
    width: 100%;
    top: 13px;
    left: 0;
    right: 40px;
    border: none;
    color: #191919;
    font-size: 16px;
}

    .xapi-form-input:-ms-input-placeholder{
	    color: Grey;
    }

    .xapi-form-input:focus,
    .xapi-form-input:active {
        outline: none;
    }

.xapi-form-input-wrapper {
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 40px 12px 20px;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    cursor: text;
}

    .xapi-form-input-wrapper:hover,
    .xapi-form-input-wrapper.hover {
        outline: none;
        box-shadow: 0 0 3px #dedede;
    }

    .xapi-form-input-wrapper.focus {
        outline: none;
        border: solid 1px #00a8ff;
        box-shadow: 0 0 2px #00a8ff;
    }

.xapi-form-row.error .xapi-form-input-wrapper {
    border: solid 1px #953b39;
    box-shadow: 0 0 2px #953b39;
}

.xapi-form-message {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding-left: 21px;
    margin-top: -7px;
    font-size: 13px;
}

.xapi-form-row.error .xapi-form-message {
    color: #953b39;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.xapi-form-message:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    display: block;
    width: 11px;
    height: 11px;
    font-size: 12px;
    background: url(images/icons-xApi.png) -6px -67px;
}

.xapi-form-btn-holder {
    text-align: center;
}

.xapi-form-btn-holder .btn.default {
    width: 345px;
    padding: 0 10px;
    display: inline-block;
    color: #5C6572;
    font-size: 20px;
    -ms-text-shadow: 1px 1px 1px #FFFFFF;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-align: center;
}

.xapi-form-btn-holder .btn:after {
    content: "*";
    margin-left: 5px;
}

    .xapi-form-btn-holder .btn span {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        max-width: 95%;
        text-overflow: ellipsis;
        vertical-align: bottom;
    }

.xapi-form-btn-holder .link {
    border-bottom: 1px solid #3a87ad;
    color: #3a87ad;
    cursor: pointer;
    font-size: 18px;
    margin: 18px 15px 18px 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 315px;
}

    .xapi-form-btn-holder .link:hover {
        color: #2e6b89;
    }

@media (max-width: 1275px) {
    .xapi-form-btn-holder .btn {
        width: 100%;
        margin-bottom: 20px;
    }

    .xapi-form-btn-holder .link {
        display: inline-block;
        float: none;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
}